* {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  height: 75px;
  background-color: #222222;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

.navbar__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1140px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#carouselExampleControls .carousel-control-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
}

#carouselExampleControls .carousel-control-prev .fa-angle-left {
  background: rgba(42, 42, 42, 0.15);
  color: #000;
  font-size: 28px;
  padding: 5px 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: bold;
}

#carouselExampleControls .carousel-control-prev .fa-angle-left:hover {
  color: #F16D7F;
}

#carouselExampleControls .carousel-control-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

#carouselExampleControls .carousel-control-next .fa-angle-right {
  background: rgba(42, 42, 42, 0.15);
  color: #000;
  font-size: 28px;
  padding: 5px 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: bold;
}

#carouselExampleControls .carousel-control-next .fa-angle-right:hover {
  color: #F16D7F;
}

.navbar__icon {
  margin: 0 17px;
}

.head {
  margin-top: 75px;
  position: relative;
  height: 764px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #F1E4E6;
}

.head__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__item img {
  width: 100%;
}

.head__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.head__item--right {
  margin-left: 63px;
}

.overlay {
  position: fixed;
  width: 100%;
  top: 75px;
  right: 0;
  height: calc(100vh - 75px);
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  pointer-events: none;
}

.overlay .menu {
  width: 232px;
  max-height: calc(100vh - 75px);
  background: #FFFFFF;
  padding: 33px;
  right: -232px;
  position: absolute;
  -webkit-transition: right 0.2s ease-in;
  transition: right 0.2s ease-in;
}

.overlay .menu .close {
  position: absolute;
  top: 16px;
  right: 19px;
  background: none;
  padding: 0;
  border: none;
  font-style: 16px;
  text-transform: uppercase;
  text-align: center;
  width: 16px;
}

.overlay.open {
  pointer-events: all;
  opacity: 1;
}

.overlay.open .menu {
  right: 0;
}

.menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.menu__title--1 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.menu__title--2 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
  margin-top: 20px;
  text-transform: uppercase;
}

.menu__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__item {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 12px;
  margin-left: 22px;
  text-decoration: none;
}

.assortment__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenet {
  position: relative;
  width: 100%;
  margin-top: 65px;
}

.assortment {
  width: 100%;
}

.assortment_margin {
  margin-right: 30px;
}

.assortment__row--1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.deals__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.deals__wrapper .deals__row--short .deals_4--mobile {
  display: none;
}

.deals__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.deals__row .deals__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 245px;
  margin: 20px;
  background-position: center;
  background-size: cover;
  width: 100%;
  -webkit-transition: background-size 0.3s ease-in;
  transition: background-size 0.3s ease-in;
}

.deals__row .deals__card--1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(img/deals_1.png);
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/deals_1.png);
}

.deals__row .deals__card--2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(img/deals_2.png);
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/deals_2.png);
}

.deals__row .deals__card--3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(img/deals_3.png);
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/deals_3.png);
}

.deals__row .deals__card--4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(img/deals_4.png);
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/deals_4.png);
}

.deals__row .deals__card:hover {
  background-size: 110%;
}

.deals__row .deals__card .subtitle {
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.deals__row .deals__card .title {
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.deals__row--short .deals__card {
  height: 180px;
}

.assortment__item img {
  width: 100%;
}

.assortment__item {
  width: 100%;
}

.card {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 48px;
  border: none;
}

.card h2 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 6px;
}

.card p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.card__wrapper {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 48px;
  width: 100%;
}

.card__item {
  text-align: left;
  background: #F8F8F8;
  max-width: 350px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
}

.card__item img {
  width: 100%;
}

.card__item .card__title {
  margin-left: 18px;
  margin-top: 25px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.card__item .card__content {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-top: 12px;
  margin-left: 18px;
  color: #5D5D5D;
}

.card__item .card__count {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 18px;
}

.card__button {
  text-decoration: none;
  border: 1px solid #FF6A6A;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  max-width: 210px;
  padding: 14px 38px;
  white-space: nowrap;
  margin-top: 48px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe_column--left {
  width: 100%;
  max-width: 360px;
}

.subscribe_column--left img {
  margin-bottom: 30px;
}

.footer__wrapper {
  width: 100%;
  position: relative;
}

.row--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section--advantages {
  padding-top: 104px;
  padding-bottom: 104px;
  background: #222224;
}

.advantage {
  width: 100%;
  max-width: 360px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage img {
  margin-bottom: 28px;
}

.advantage--title {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
}

.advantage--content {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
}

.advantage--content {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
}

.section--subscribe {
  background-image: url(img/fon__footer__row--2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 448px;
}

.social__row {
  background: #222224;
  width: 100%;
  height: 80px;
}

.brand {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.social__icon:hover {
  background-color: #F16D7F;
  color: #fff;
}

.social__icon:hover .fa {
  font-size: 20px;
}

.social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f8f8f8;
  margin: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.social__icon .fa {
  font-size: 16px;
  -webkit-transition: font-size 0.1s ease-in;
  transition: font-size 0.1s ease-in;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item--right_titel {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  color: #222224;
}

.item--right_content {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #222224;
}

#subscribe_form {
  margin-top: 32px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#subscribe_form input[type="email"] {
  background: #E1E1E1;
  border-radius: 20px 0 0 20px;
  border: none;
  padding: 15px 60px 15px 22px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

#subscribe_form input[type="submit"] {
  background: #F16D7F;
  padding: 15px 22px;
  border-radius: 0 20px 20px 0;
  border: none;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
}

.catalog__wrapper {
  background: #F8F3F4;
  width: 100%;
  height: 148px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__catalog {
  margin-bottom: 20px;
}

.navbar__wrapper {
  position: relative;
  margin-bottom: 15px;
}

.car__img {
  max-width: 100%;
  height: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.card__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.card__picture {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__btn {
  padding: 10px 16px 9px 13px;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
}

.card__icon {
  color: #fff;
}

.card__icon__title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-left: 11px;
}

.card__btn:hover {
  background: #F16D7F;
  border: none;
}

.card__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__picture:hover .card__hover {
  visibility: visible;
  opacity: 1;
}

.navigator__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigator__value {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

a:hover {
  color: #F16D7F;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.navigator__item {
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
}

.navigator__item:hover {
  color: #F16D7F;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.navigator__item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.assortment__item--mobile {
  display: none;
}

.assortment__item--desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filtation__content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
}

.filtation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 25px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 620px;
  position: relative;
}

.filter_main--title {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
}

.filter__left::after {
  margin-left: 11px;
  content: url(img/filterCategory--icon.svg);
}

.filter_main--title[open] {
  background: #ffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 360px;
  z-index: 2;
  top: -12px;
  left: -16px;
  padding-top: 13px;
  padding-left: 16px;
  border: none;
  color: #F16D7F;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.filter_main--title[open]:focus {
  outline: none;
}

.filter_main--title[open] > .filter__left::after {
  content: url(img/filterCategory--icon_2.svg);
}

.filter_main--title[open] > .filter__left > .filter__icon {
  display: none;
}

.filter_main--title[open] > .filter__left:focus {
  outline: none;
}

.filter-left__main {
  margin-top: 16px;
  position: relative;
}

.filter-left__main summary {
  border-left: 5px solid #F16D7F;
  height: 30px;
  padding: 18px 11px 9px 11px;
  border-bottom: 1px solid #EBEBEB;
  font-size: 16px;
  line-height: 17px;
}

.filter-left__main[open] {
  position: relative;
  background: #fff;
  width: 80%;
  height: 530px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  color: #6F6E6E;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.filter__list {
  padding-left: 20px;
}

.filter__left--mobaile {
  display: none;
}

.filter__list--item {
  margin-top: 24px;
}

.filter__list--item a {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
}

.filter__list--item a:hover {
  color: #F16D7F;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}

.filter__right_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter-right_main > summary::after {
  content: url(img/filter-righht--icon.svg);
  margin-right: 16px;
  margin-left: 16px;
}

.filter-right_main[open] > summary::after {
  content: '\2716';
}

.filter-right_main[open] > summary {
  text-align: right;
  color: #F16D7F;
}

.filter-right_main[open] > .filter-right_list {
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  position: relative;
  z-index: 2;
  padding: 10px;
  padding-bottom: 20px;
  margin-right: 10px;
}

.filter-right_item {
  margin-top: 10px;
}

.filter-right_item input {
  margin-right: 10px;
}

ul {
  list-style-type: none;
}

summary {
  display: block;
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 95px;
}

.pagination__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EBEBEB;
  padding-top: 5px;
  padding-bottom: 10px;
}

.pagination__button {
  background-color: transparent;
  border: none;
  font-family: Lato;
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.pagination__button:focus {
  outline: 0.5px solid #EBEBEB;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4px;
}

.paginetion_item {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.paginetion_item a {
  text-decoration: none;
  color: #EBEBEB;
}

.paginetion_item a:hover {
  color: #F16D7F;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}

.slider {
  position: relative;
  z-index: 1;
}

.carousel-inner {
  height: 60vh;
}

.desc-product {
  position: relative;
  z-index: 5;
  margin-bottom: 70px;
}

.desc-product__wrapper {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: -50px;
}

.desc-prouct__item--heading {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.desc-prouct__item--line-1 {
  height: 12px;
  width: 63px;
  border-bottom: 3px solid #F16D7F;
  margin-bottom: 12px;
}

.desc-prouct__item--title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.desc-prouct__item--text {
  width: 100%;
  max-width: 555px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 32px;
  color: #5E5E5E;
}

.desc-prouct__item--price {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 65px;
  color: #EF5B70;
}

.desc-prouct__item--line-2 {
  height: 5px;
  width: 100%;
  max-width: 640px;
  border-bottom: 3px solid #EAEAEA;
  margin-bottom: 65px;
}

.desc-prouct__item--list select {
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 48px;
  color: #6F6E6E;
}

.desc-prouct__item--button {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  background-color: transparent;
  border: 1px solid #F16D7F;
  padding: 10px 30px;
}

.desc-prouct__item--button:hover {
  background-color: #fbd3d9;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.desc-prouct__item--button img {
  margin-right: 22px;
}

.filter_main--title__mobile {
  display: none;
}

.cart .cart--grid__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 360px;
      grid-template-columns: 1fr 360px;
  -ms-grid-rows: 272px auto;
      grid-template-rows: 272px auto;
  gap: 64px 100px;
      grid-template-areas: "cards address" "cards registration";
}

.cart .cart--grid__wrapper .cart--left__wrapper {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: cards;
}

.cart .cart--grid__wrapper .adress {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: address;
  width: 100%;
  max-width: 360px;
}

.cart .cart--grid__wrapper .registration {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: registration;
  max-height: 214px;
  margin-top: 10px;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 40px 34px;
  background: #F5F3F3;
}

.adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.adress .adress__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.adress input {
  border: 1px solid #A4A4A4;
  width: 100%;
  height: 44px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.adress input::-webkit-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-left: 16px;
}

.adress input:-ms-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-left: 16px;
}

.adress input::-ms-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-left: 16px;
}

.adress input::placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-left: 16px;
}

.cart {
  margin-top: 96px;
  margin-bottom: 128px;
}

.cart__right {
  position: relative;
  margin-top: 20px;
  width: 100%;
  max-width: 360px;
}

.cart__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.cart--left__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  height: 306px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  margin-bottom: 40px;
}

.cart--left__img img {
  width: 262px;
  height: 306px;
}

.cart---left__desc {
  margin-left: 31px;
  padding-top: 18px;
  width: 70%;
}

.cart---left__close {
  position: absolute;
  top: 0px;
  right: 12px;
  color: #575757;
  font-size: 24px;
  font-weight: 500;
  background: none;
  border: none;
  padding: 10px;
}

.cart---left__close:hover {
  color: #F16D7F;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.cart---left__title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 42px;
  color: #222222;
  max-width: 200px;
}

.cart---left__price {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 8px;
  color: #222222;
}

.cart---left__price span {
  font-size: 24px;
  color: #F16D7F;
}

.cart---left__color,
.cart---left__size,
.cart---left__quantity {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #222222;
  margin-bottom: 5px;
}

.cart---left__color span,
.cart---left__size span,
.cart---left__quantity span {
  color: #575757;
}

.cart---left__quantity input {
  width: 43px;
  text-align: center;
  border: 1px solid #EAEAEA;
  margin-left: 24px;
}

.cart-left__button__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 42px;
}

.cart__left--button {
  background: none;
  border: 1px solid #A4A4A4;
  padding: 16px 40px;
}

.cart--right__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-left: 20px;
}

.adress__button {
  background: none;
  color: #4A4A4A;
  padding: 10px 14px;
  border: 1px solid #A4A4A4;
}

.subTotal {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.subTotal span {
  margin-left: 30px;
}

.grandTotal {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 12px;
  margin-bottom: 20px;
}

.grandTotal span {
  color: #F16D7F;
  margin-left: 30px;
  font-weight: 500;
}

.registration__line {
  width: 100%;
  border-bottom: 2px solid #E2E2E2;
}

.registration__button {
  background: #F16D7F;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  margin-top: 17px;
}

.reg__content {
  width: 100%;
  margin-top: 64px;
  margin-bottom: 96px;
}

.reg__content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.reg__left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  max-width: 326px;
  margin-right: 22px;
}

.reg__entry {
  width: 100%;
  height: 45px;
  border: 1px solid #A4A4A4;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-left: 17px;
  margin-bottom: 33px;
}

.gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 35px;
  color: #000000;
}

.gender label {
  margin-left: 10px;
}

.gender input:nth-child(3) {
  margin-left: 20px;
}

.gender input:nth-child(5) {
  margin-left: 20px;
}

.reg__left--desc {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 40px;
  color: #B1B1B1;
}

.reg__left--text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.reg__left__button {
  background: #F16D7F;
  border: none;
  padding: 16px 29px;
  color: #fff;
}

.gender_entry {
  width: 17px;
  height: 17px;
}

.reg__right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  max-width: 650px;
}

.reg__right--title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
}

.reg__tight--desc {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 21px;
  color: #000000;
}

.red__right--donation {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 21px;
  color: #000000;
}

.donation {
  margin-bottom: 16px;
}

.donation::before {
  content: url(img/donation__icon.svg);
  margin-right: 23px;
}

@media (max-width: 1050px) {
  .cart .cart--grid__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 272px;
        grid-template-rows: auto 272px;
    gap: 64px 15px;
        grid-template-areas: "cards cards" "address registration";
  }
  .registration {
    margin-top: 34px;
  }
  .head {
    height: 540px;
  }
  .head__item--left {
    width: 50%;
    margin-left: 50px;
  }
  .head__item--right {
    width: 60%;
  }
  .card__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 48px;
    width: 100%;
  }
  .card__item {
    margin: 15px;
  }
}

@media (max-width: 920px) {
  .head {
    height: 480px;
  }
  .head__item--left {
    width: 50%;
    margin-left: 50px;
  }
  .head__item--right {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .cart__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reg__right--title {
    font-size: 16px;
    line-height: 19px;
  }
  .reg__tight--desc {
    font-size: 16px;
    line-height: 19px;
  }
  .red__right--donation {
    font-size: 16px;
    line-height: 19px;
  }
  .cart--right__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: 100%;
  }
  .cart__left {
    width: 100%;
  }
  .cart__right {
    width: 100%;
  }
  .section--subscribe {
    height: 690px;
  }
  .deals__row .deals__card {
    height: 158px;
    margin: 10px;
  }
  .carousel-inner {
    height: 40vh;
  }
  #carouselExampleControls .carousel-control-next {
    height: 40vh;
  }
  #carouselExampleControls .carousel-control-prev {
    height: 40vh;
  }
  .row--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section--advantage {
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .section--subscribe {
    padding-top: 60px;
    padding-bottom: 110px;
  }
  .section--subscribe .subscribe_colum--right {
    margin-top: 60px;
  }
  .social__row .reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card__item {
    margin: 8px;
  }
  .head__item--left {
    width: 40%;
    margin-left: 50px;
  }
  .head__item--right {
    width: 50%;
  }
  .head {
    height: 367px;
  }
  .assortment_margin {
    margin-right: 20px;
  }
  .assortment__row--1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 580px) {
  .head__item--left {
    width: 40%;
    margin-left: 50px;
  }
  .head__item--right {
    width: 50%;
  }
  .head {
    height: 267px;
  }
  .cart .cart--grid__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto 272px 272px;
        grid-template-rows: auto 272px 272px;
    gap: 64px 15px;
        grid-template-areas: "cards" "address" "registration";
  }
  .cart .cart--grid__wrapper .adress {
    max-width: none;
  }
  .cart---left__desc {
    padding-top: 12px;
    margin-left: 5px;
  }
  .cart---left__desc .cart---left__title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
  }
  .cart---left__price {
    font-size: 14px;
    line-height: 17px;
  }
  .cart---left__price span {
    font-size: 15px;
  }
  .cart__left--button {
    padding: 10px 12px;
    font-size: 12px;
  }
  .cart---left__quantity input {
    width: 24px;
  }
  .cart---left__close {
    padding: 0;
  }
  .cart---left__color,
  .cart---left__size,
  .cart---left__quantity {
    font-size: 14px;
    line-height: 17px;
  }
  .cart--left__item {
    height: 188px;
  }
  .cart--left__img img {
    width: 144px;
    height: 188px;
  }
}

@media (max-width: 480px) {
  .section--subscribe {
    height: 550px;
  }
  .reg__content__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reg__left {
    max-width: none;
  }
  .reg__right {
    margin-top: 40px;
  }
  .navigator__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .desc-product__wrapper {
    margin-top: 0;
  }
  .carousel-inner {
    height: 25vh;
  }
  .filtation__column-left .filter_main--title__desktop {
    display: none;
  }
  .filter_main--title__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .filter_main--title__mobile .filter__left::after {
    margin-left: 0;
    width: 37px;
  }
  #carouselExampleControls .carousel-control-next {
    height: 25vh;
  }
  #carouselExampleControls .carousel-control-prev {
    height: 25vh;
  }
  .brand {
    margin-bottom: 30px;
  }
  .deals__row--short .deals_4--desctop {
    display: none;
  }
  .deals__wrapper .deals__row--short .deals_4--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .deals__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .deals__row .deals__card {
    height: 247px;
    width: 100%;
    background-position: left top;
  }
  .navbar__none {
    display: none;
  }
  .social__row {
    height: 145px;
  }
  .social__row .reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social__row .social {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .head__item--left {
    display: none;
  }
  .head__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item__wrapper .head__item--right {
    width: 100%;
  }
  .assortment__row--1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .assortment_margin {
    margin-right: 0;
  }
  .assortment__item--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .assortment__item--desktop {
    display: none;
  }
  .assortment__item {
    margin-bottom: 30px;
  }
  .card {
    margin-top: 64px;
  }
}
/*# sourceMappingURL=style.css.map */