* {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  height: 75px;
  background-color: #222222;
  position: relative;
}

.navbar__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1140px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar__icon {
  margin: 0 17px;
}

.head {
  position: relative;
  height: 764px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #F1E4E6;
}

.head__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__item img {
  width: 100%;
}

.head__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.head__item--right {
  margin-left: 63px;
}

.overlay {
  position: fixed;
  width: 100%;
  top: 75px;
  right: 0;
  height: calc(100vh - 75px);
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.overlay.open {
  opacity: 1;
}

.overlay.open .menu {
  right: 0;
}

.menu {
  width: 232px;
  max-height: calc(100vh - 75px);
  background: #FFFFFF;
  padding: 33px;
  right: -232px;
  position: absolute;
  -webkit-transition: right 0.2s ease-in;
  transition: right 0.2s ease-in;
}

.menu .close {
  position: absolute;
  top: 16px;
  right: 19px;
  background: none;
  padding: 0;
  border: none;
  font-style: 16px;
  text-transform: uppercase;
  text-align: center;
  width: 16px;
}

.menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.menu__title--1 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.menu__title--2 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
  margin-top: 20px;
  text-transform: uppercase;
}

.menu__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__item {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 12px;
  margin-left: 22px;
  text-decoration: none;
}

.assortment__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenet {
  position: relative;
  width: 100%;
  margin-top: 65px;
}

.assortment {
  width: 100%;
}

.assortment_margin {
  margin-right: 30px;
}

.assortment__row--1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.deals__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.deals__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.deals__row .deals__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 260px;
  margin: 20px;
  background-position: center;
  -webkit-box-sizing: 100%;
          box-sizing: 100%;
  -webkit-transition: background-size 0.2s ease-in;
  transition: background-size 0.2s ease-in;
}

.deals__row .deals__card--1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(img/deals_1.png);
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/deals_1.png);
}

.deals__row .deals__card--2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(img/deals_2.png);
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/deals_2.png);
}

.deals__row .deals__card--3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(img/deals_3.png);
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/deals_3.png);
}

.deals__row .deals__card--4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(img/deals_4.png);
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/deals_4.png);
}

.deals__row .deals__card:hover {
  background-size: 110%;
}

.deals__row .deals__card .subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.deals__row .deals__card .title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.deals__row--short .deals__card {
  height: 180px;
}

.assortment__item img {
  width: 100%;
}

.assortment__item {
  width: 100%;
}

.card {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 110px;
}

.card h2 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 6px;
}

.card p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.card__wrapper {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 48px;
  width: 100%;
}

.card__item {
  text-align: left;
  background: #F8F8F8;
  max-width: 350px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
}

.card__item img {
  width: 100%;
}

.card__item .card__title {
  margin-left: 18px;
  margin-top: 25px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.card__item .card__content {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-top: 12px;
  margin-left: 18px;
  color: #5D5D5D;
}

.card__item .card__count {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 18px;
}

.card__button {
  text-decoration: none;
  border: 1px solid #FF6A6A;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  max-width: 210px;
  padding: 14px 38px;
  white-space: nowrap;
  margin-top: 48px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe_column--left {
  width: 100%;
  max-width: 360px;
}

.subscribe_column--left img {
  margin-bottom: 30px;
}

.footer__wrapper {
  width: 100%;
  position: relative;
}

.row--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section--advantages {
  padding-top: 104px;
  padding-bottom: 104px;
  background: #222224;
}

.advantage {
  width: 100%;
  max-width: 360px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage img {
  margin-bottom: 28px;
}

.advantage--title {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
}

.advantage--content {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
}

.advantage--content {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
}

.section--subscribe {
  background-image: url(img/fon__footer__row--2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 448px;
}

.social__row {
  background: #222224;
  width: 100%;
  height: 80px;
}

.brand {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.social__icon:hover {
  background-color: #F16D7F;
  color: #fff;
}

.social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f8f8f8;
  margin: 5px;
  width: 32px;
  height: 32px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item--right_titel {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  color: #222224;
}

.item--right_content {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #222224;
}

#subscribe_form {
  margin-top: 32px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#subscribe_form input[type="email"] {
  background: #E1E1E1;
  border-radius: 20px 0 0 20px;
  border: none;
  padding: 15px 60px 15px 22px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

#subscribe_form input[type="submit"] {
  background: #F16D7F;
  padding: 15px  22px;
  border-radius: 0 20px 20px 0;
  border: none;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
}

.catalog__wrapper {
  background: #F8F3F4;
  width: 100%;
  height: 148px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__catalog {
  margin-bottom: 20px;
}

.navbar__wrapper {
  position: relative;
  margin-bottom: 15px;
}

.car__img {
  max-width: 100%;
  height: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.card__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.card__picture {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__btn {
  padding: 10px 16px 9px 13px;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
}

.card__icon {
  color: #fff;
}

.card__icon__title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-left: 11px;
}

.card__btn:hover {
  background: #F16D7F;
  border: none;
}

.card__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__picture:hover .card__hover {
  visibility: visible;
  opacity: 1;
}

.navigator__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigator__value {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.navigator__item {
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.navigator__item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.assortment__item--mobile {
  display: none;
}

.assortment__item--desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filtation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 25px;
  display: flex;
}

.filter_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 1050px) {
  .head {
    height: 540px;
  }
  .head__item--left {
    width: 50%;
    margin-left: 50px;
  }
  .head__item--right {
    width: 60%;
  }
  .card__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 48px;
    width: 100%;
  }
  .card__item {
    margin: 15px;
  }
}

@media (max-width: 920px) {
  .head {
    height: 480px;
  }
  .head__item--left {
    width: 50%;
    margin-left: 50px;
  }
  .head__item--right {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .row--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section--advantage {
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .section--subscribe {
    padding-top: 60px;
    padding-bottom: 110px;
  }
  .section--subscribe .subscribe_colum--right {
    margin-top: 60px;
  }
  .social__row .reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card__item {
    margin: 8px;
  }
  .head__item--left {
    width: 40%;
    margin-left: 50px;
  }
  .head__item--right {
    width: 50%;
  }
  .head {
    height: 367px;
  }
  .assortment_margin {
    margin-right: 20px;
  }
  .assortment__row--1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 580px) {
  .head__item--left {
    width: 40%;
    margin-left: 50px;
  }
  .head__item--right {
    width: 50%;
  }
  .head {
    height: 267px;
  }
}

@media (max-width: 480px) {
  .navbar__none {
    display: none;
  }
  .social__row {
    height: 145px;
  }
  .social__row .reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social__row .social {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .head__item--left {
    display: none;
  }
  .head__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item__wrapper .head__item--right {
    width: 100%;
  }
  .assortment__row--1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .assortment_margin {
    margin-right: 0;
  }
  .assortment__item--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .assortment__item--desktop {
    display: none;
  }
  .assortment__item {
    margin-bottom: 30px;
  }
  .card {
    margin-top: 64px;
  }
}
/*# sourceMappingURL=style.css.map */