$color1: #F16D7F;

* {
	
	margin: 0;
	padding: 0;
}

.navbar {
	width: 100%;
	height: 75px;
	background-color: #222222;
	position: relative;
}

.navbar__wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1140px;
	padding-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
.container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1140px;
	padding-left: 15px;
	padding-right: 15px;
}
.navbar__icons {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.navbar__icon {
	margin: 0 17px;
}

.head {
	position: relative;
	height: 764px;
	width: 100%;
	display: flex;
	flex-direction: row;                   
	background: #F1E4E6;
}


.head__wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
}
.item__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.head__item img { 
	width: 100%;	

}
.head__item {
	display: flex;
	justify-content: flex-start;
	
	
}
 
.head__item--right {
 margin-left: 63px;
}
.menu {
	width: 232px;
	height: 100vh;
	background: #FFFFFF;
	padding: 33px;
	position: relative;	
}
.close {
	position: absolute;
	top: 16px;
	right: 19px;
}

.menu__wrapper {
	display: flex;
	justify-content: start;
	flex-direction: column;
	align-items: start;
}
.menu__title--1 {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 24px;
}

.menu__title--2 {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #F16D7F;
	margin-bottom: 12px;
	margin-top: 20px;
	text-transform: uppercase;
}

.menu__column {
	display: flex;
	flex-direction: column;

}

.menu__item {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #6F6E6E;
	margin-bottom: 12px;
	margin-left: 22px;
	text-decoration: none;
}

.assortment__wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;

}

.contenet {
	width: 100%;
	margin-top: 65px;
}
.assortment {
	width: 100%; 
}
.assortment_margin {
	margin-right: 30px;
}
.assortment__row--1  {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px ;
	width: 100%;
	
}

.assortment__item  img {
	width: 100%;
}
.assortment__item {
	width: 100%;
}
.card {
	position: relative;
	width: 100%;
	margin-top: 96px;
	text-align: center;
	margin-bottom: 110px;

	h2 {
		font-family: 'Lato', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 6px;
	}
	p {
		font-family: 'Lato', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #9F9F9F;
	}
}

.card__wrapper {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.card__box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 48px;
	width: 100%;
}

.card__item {
	text-align: left;
	background: #F8F8F8;
	max-width: 350px;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 30px;
	img {
		width: 100%;
	}
	.card__title {
		margin-left: 18px;
		margin-top: 25px;
		font-family: 'Lato', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 16px;
		color: #000000;

	}
	.card__content {
		font-family: 'Lato', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		margin-top: 12px;
		margin-left: 18px;
		color: #5D5D5D;
	}
	.card__count {
		font-family: 'Lato', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #F16D7F;
		margin-top: 18px;
		margin-bottom: 18px;
		margin-left: 18px;
	}
}

.card__button {
	text-decoration: none;
	border: 1px solid #FF6A6A;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #F26376;
	max-width: 210px;
	padding: 14px 38px;
	white-space: nowrap;
	margin-top: 48px;
}
.footer__row {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-between;
	align-items: center;

}
.subscribe_column--left {
	width: 100%;
	max-width: 360px;
	img {
		margin-bottom: 30px;
	}
}
.footer__wrapper {
	width: 100%;
	position: relative;
}
.row--wrapper {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-between;
	align-items: center;

}
.section--advantages {
	padding-top: 104px;
	padding-bottom: 104px;
	background: #222224; 
}
.advantage {
	width: 100%;
	max-width: 360px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	img {
		margin-bottom: 28px;
	}
}
.advantage--title {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	color: #FBFBFB;
	margin-bottom: 16px;
}
.advantage--content {
	font-family: 'Lato', sans-serif;
		font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #FBFBFB;
}
.advantage--content {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 13.972px;
	line-height: 17px;
	color: #FBFBFB;
}
.section--subscribe {
	background-image: url(img/fon__footer__row--2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom left;
	height: 448px;
}

.social__row {
	background: #222224;
	width: 100%;
	height: 80px;
	
}

.brand {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #FBFBFB;
}
.social__icon:hover {
	background-color: #f16d7f;
	color: #fff;
}
.social__icon{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: rgb(248, 248, 248);
	margin: 5px;
	width: 32px;
	height: 32px;
	
}
.social {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.item--right_titel{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 167.2%;
	color: #222224;	
}

.item--right_content {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #222224;
}

#subscribe_form {
	margin-top: 32px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	input[type="email"] {
		background: #E1E1E1;
		border-radius: 20px 0 0 20px;
		border: none;
		padding: 15px 60px 15px 22px;
		font-family: 'Lato', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #222224;
		opacity: 0.67;
	}
	input[type="submit"] {
		background: #F16D7F;
		padding: 15px  22px;
		border-radius: 0 20px 20px 0;
		border: none;
		font-family: 'Lato', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #FFFFFF;
		cursor: pointer;
	}
}

.assortment__item--mobile {
	display: none;
}
.assortment__item--desktop {
	display: flex;
}
@media (max-width: 1050px) {
	.head {
		height: 540px;
	}
	.head__item--left {
		width: 50%;
		margin-left: 50px;
	}
	.head__item--right {
		width: 60%;
	}
	.card__box {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 48px;
		width: 100%;
	}
	.card__item {
		margin: 15px;
	}
}
@media (max-width: 920px) {
	.head {
		height: 480px;
	}
	.head__item--left {
		width: 50%;
		margin-left: 50px;
	}
	.head__item--right {
		width: 60%;
	}
}
@media (max-width: 768px) {
	.row--wrapper {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: space-between;
		align-items: center;
	
	}
	.section--advantage {
		padding-top: 48px;
		padding-bottom: 64px;
	}
	.section--subscribe {
		padding-top: 60px;
		padding-bottom: 110px;

		.subscribe_colum--right {
			margin-top: 60px;
			
		}
	}
	.social__row {
		.reverse {
			display: flex;
			flex-direction: row;
			text-align: center;
			justify-content: space-between;
			align-items: center;
		}
	}

	.card__item {
		margin: 8px;
	}
	.head__item--left {
		width: 40%;
		margin-left: 50px;
	}
	.head__item--right {
		width: 50%;
	}
	.head {
		height: 367px;
	}
	.assortment_margin {
		margin-right: 20px;
	}
	.assortment__row--1 {
		margin-bottom: 20px;
	}
}
@media (max-width: 580px) {
	.head__item--left {
		width: 40%;
		margin-left: 50px;
	}
	.head__item--right {
		width: 50%;
	}
	.head {
		height: 267px;
	}
}
@media (max-width: 480px) {
	.navbar__none {
		display: none;
	}
	.social__row {
		height: 145px;
		.reverse {
			display: flex;
			flex-direction: column-reverse;
			text-align: center;
			justify-content: space-between;
			align-items: center;
		}
		.social {
			margin-top: 40px;
			margin-bottom: 40px;
		}
	}
	.head__item--left {
		display: none;
	}
	.head__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.item__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		.head__item--right {
			width: 100%;
		}
	}
	.assortment__row--1 {
		display: flex;
		flex-direction: column;
		margin-bottom: 0;
	}
	.assortment_margin {
		margin-right: 0;
	}

	.assortment__item--mobile {
		display: flex;
	}
	.assortment__item--desktop {
		display: none;
	}
	.assortment__item {
		margin-bottom: 30px;
	}
	.card {
		margin-top: 64px;
	}
}